doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/assets/css/app.css")
    title #{title}

  body
    a(href="/admin") Panel de Control
    div(class="container")

      block body-title

        - var showBreadcrumb = true
        - if (breadcrumb == false) showBreadcrumb = false

        if showBreadcrumb == true
          nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
              li(class="breadcrumb-item")
                a(href="/admin") Administración

              if(optsBreadcrumb && optsBreadcrumb.length)
                each option in optsBreadcrumb
                  li(class="breadcrumb-item")
                    a(href=option.href) #{option.text}

              li(class="breadcrumb-item active" aria-current="page") #{title}

        h1 #{title}

        //- each messages in flashMessages
        //-   a.alert(class='alert-' + message.type)
        //-     p= message.message

      block body-container
    script(src="/jquery.min.js") 
    script(src="/js/bootstrap.min.js")
    block js-container