extends ../layout

block content
  a(href=getAutocrudRoute(basePath, "create", collection.path_name) class="btn btn-primary float-end")
    span(class="fa fa-plus")
    span  Add New

  table.table
    tr
      each th in collection.collectionConfig.labels
        th= th
      th Actions
    each item in collectionObjects
      tr
        each attr in collection.collectionConfig.projection.split(" ")
          td= item[attr]
        td
          a(href=getAutocrudRoute(basePath, "edit", collection.path_name, item._id) class="text-warning me-3" title="Edit")
            span(class="fa fa-pencil fa-2x")
          a(href=getAutocrudRoute(basePath, "destroy", collection.path_name, item._id) class="text-danger me-3 delete-button" title="Delete")
            span(class="fa fa-trash-o fa-2x")
