extends ../layout

block content
  div.btn-tops
    a(href=getRoute(basePath, "create") class="btn btn-primary" title=lang.BTN_CREATE data-intro=lang.HELP_MSG_COLLECTION_BTN_CREATE)
      span(class="fa fa-plus")
      //- span  #{lang.BTN_CREATE}

  #dataLang(data-btn-edit=lang.HELP_MSG_COLLECTION_BTN_EDIT, data-btn-delete=lang.HELP_MSG_COLLECTION_BTN_DELETE, data-btn-apidoc=lang.HELP_MSG_COLLECTION_BTN_APIDOC, data-btn-fields=lang.HELP_MSG_COLLECTION_BTN_FIELDS)

  .table-responsive
    table#app-table.table.table-striped.table-collections
      thead
        tr 
          //- th(class="col-md-1") #
          th(class="col-md-433") #{lang.COLLECTIONS_COL_TITLE}
          th(class="col-md-233") #{lang.COLLECTIONS_NAME}
          th(class="col-md-233") #{lang.COLLECTIONS_PATH}
          th(class="col-md-22") #{lang.TEXT_ACTIONS}
      tbody
        each item in listObjects
          tr
            //- td #{++counter}
            td #{item.title}
            td #{item.collection_name}
            td #{item.path_name}
            td
              a(href=getRoute(basePath, "edit", item._id) class="btn btn-primary me-1  edit-button-collection" title=lang.BTN_UPDATE)
                span(class="fa fa-pencil")
                //- span  #{lang.BTN_UPDATE}
              a(href=`/admin/fields/${item._id}` class="btn btn-primary me-1 fields-button-collection" title=lang.FIELDS_APIDOC)
                span(class="fa fa-list")
                //- span  #{lang.FIELDS_APIDOC_BTN}
              a(href=`/admin/api-doc/${item.path_name}` target="_blank" class="btn btn-primary me-1 apidoc-button-collection" title=lang.COLLECTIONS_APIDOC)
                span(class="fa fa-file-text-o" aria-hidden="true")
                //- span  #{lang.COLLECTIONS_APIDOC_BTN}
              a(href=getRoute(basePath, "destroy", item._id) class="btn btn-danger me-1 delete-button  delete-button-collection" title=lang.BTN_DELETE)
                span(class="fa fa-trash-o")
                //- span  #{lang.BTN_DELETE}


