extends ../layout

block content
  div(class="d-flex flex-row bd-highlight mb-3 row panel-admin")
    div(class="p-2 bd-highlight col-md-2 col-xs-6 col-sm-6 text-center")
      a(href="/admin/users")
        span(class="fa fa-users fa-2x")
        br
        span #{lang.USERS_TITLE}
    div(class="p-2 bd-highlight col-md-2 col-xs-6 col-sm-6 text-center")
      a(href="/admin/collections")
        span(class="fa fa-cubes fa-2x")
        br
        span #{lang.COLLECTIONS_TITLE}
    div(class="p-2 bd-highlight col-md-2 col-xs-6 col-sm-6 text-center")
      a(href="/auth/logout")
        span(class="fa fa-sign-out fa-2x")
        br
        span #{lang.LOGIN_OUT}

  h2 Colecciones dinámicas del sistema
  div(class="d-flex flex-row bd-highlight mb-3 row panel-admin")
    each collection in collections
      if collection.showAdmin
        div(class="p-2 bd-highlight col-md-2 col-xs-6 col-sm-6 text-center")
          a(href=`/admin/crud/${collection.path_name}`)
            span(class="fa fa-cogs fa-2x")
            br
            span #{collection.title}

