extends ../layout

block content
  div.btn-tops
    a(href=getRoute(basePath, "create") class="btn btn-primary")
      span(class="fa fa-plus")
      span  #{lang.BTN_CREATE}

  .table-responsive
    table#app-table.table.table-striped
      thead
        tr 
          th(class="col-md-1") #
          th(class="col-md-433") #{lang.USERS_FULLNAME}
          th(class="col-md-233") #{lang.USERS_EMAIL}
          th(class="col-md-233") #{lang.USERS_ROLS}
          th(class="col-md-233") #{lang.USERS_STATUS}
          th(class="col-md-22") #{lang.TEXT_ACTIONS}
      tbody
        each item in listObjects
          tr
            td #{++counter}
            td #{item.name}
            td #{item.email}
            td #{item.rols}
            td #{item.status ? "Active": "Inactive"}
            td
              a(href=getRoute(basePath, "edit", item._id) class="btn btn-primary me-3" title=lang.BTN_UPDATE)
                span(class="fa fa-pencil")
                span  #{lang.BTN_UPDATE}
              a(href=getRoute(basePath, "destroy", item._id) class="btn btn-danger me-3 delete-button" title=lang.BTN_DELETE)
                span(class="fa fa-trash-o")
                span  #{lang.BTN_DELETE}


