extends ../../layouts/adminLayout.pug
block body-container

  form(method="POST" action="/admin/form-config/"+collection_id)
    fieldset
      legend Datos del formulario
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_action") Action *
          input(type="text" id="frmDflt_action" class="form-control" name="action" required="" value=objFormDb.action)

        div(class="form-group col-md-6")
          label(for="frmDflt_config.method") Method *
          select(id="frmDflt_config.method" class="form-control" name="config[method]" required="")
            option(value="get" selected=("get" == objFormDb.config.method)) GET
            option(value="post" selected=("post" == objFormDb.config.method)) POST

    fieldset
      legend Botón de envío
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_config.btn_submit.value") Texto del botón *
          - var btnTextValue = (objFormDb.config.btn_submit != undefined) ? objFormDb.config.btn_submit.value: ""
          input(type="text" id="frmDflt_config.btn_submit.value" class="form-control" name="config[btn_submit][value]" required="" value=btnTextValue)

      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_config.btn_submit.show")
            - var btnCheckValue = (objFormDb.config.btn_submit != undefined && objFormDb.config.btn_submit.show) ? true: false
            input(type="checkbox" id="frmDflt_config.btn_submit.show" name="config[btn_submit][show]" checked=btnCheckValue value='show')
            span  Mostrar botón

    div(class="form-button-list text-center")
      input(type="submit" class="btn btn-primary" value="Guardar")

  hr

  input(type="hidden" id="formId" value=objFormDb._id)
  input(type="hidden" id="collectionId" value=collection_id)
  input(type="hidden" id="tmpFieldsetId")

  h2 Grupos de campos

  div(class="app-padding-tb-5 text-right")
    button(type="button" id="btnAddFieldset" class="btn btn-success" data-toggle="modal" data-target="#fieldsetModal") Nuevo grupo

  table(class="table")
    thead 
      tr 
        th Legend
        th Acciones
    tbody(id="tableBodyFieldsets")
      each item in fieldsetsList
        tr 
          td #{item.legend}
          td
            button(class="btn btn-primary mr-1 fa fa-edit btnEditFieldset" data-fieldset-id=item._id data-fieldset-legend=item.legend)
            button(class="btn btn-danger mr-1 fa fa-trash btnDeleteFieldset" data-fieldset-id=item._id data-fieldset-legend=item.legend)


  div(class="modal fade" id="fieldsetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="fieldsetModalLabel") Nuevo grupo
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;

        div(class="modal-body")
          div(class="form-group col-md-12 createUpdateAction")
            label(for="legendInput") Legend
            input(
              type="text"
              id="legendInput"
              class="form-control"
              name="legend"
              value="")

          div(class="form-group col-md-12 deleteAction app-hidden")
            p Delete information

        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Calcelar
          button(type="button" class="btn btn-primary modalSaveAction") Guardar


block js-container 
  script(src="/assets/js/crud.js") 