extends ../../layouts/adminLayout.pug
block body-container

  form(method="POST" action="/admin/form-config/"+collection_id)
    fieldset
      legend Datos del formulario
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_action") Action *
          input(type="text" id="frmDflt_action" class="form-control" name="action" required="" value=objFormDb.action)

        div(class="form-group col-md-6")
          label(for="frmDflt_config.method") Method *
          select(id="frmDflt_config.method" class="form-control" name="config[method]" required="")
            option(value="get" selected=("get" == objFormDb.config.method)) GET
            option(value="post" selected=("post" == objFormDb.config.method)) POST

    fieldset
      legend Botón de envío
      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_config.btn_submit.value") Texto del botón *
          - var btnTextValue = (objFormDb.config.btn_submit != undefined) ? objFormDb.config.btn_submit.value: ""
          input(type="text" id="frmDflt_config.btn_submit.value" class="form-control" name="config[btn_submit][value]" required="" value=btnTextValue)

      div(class="form-row")
        div(class="form-group col-md-6")
          label(for="frmDflt_config.btn_submit.show")
            - var btnCheckValue = (objFormDb.config.btn_submit != undefined && objFormDb.config.btn_submit.show) ? true: false
            input(type="checkbox" id="frmDflt_config.btn_submit.show" name="config[btn_submit][show]" checked=btnCheckValue value='show')
            span  Mostrar botón

    div(class="form-button-list text-center")
      input(type="submit" class="btn btn-primary" value="Guardar")

  hr

  input(type="hidden" id="formId" value=objFormDb._id)
  input(type="hidden" id="collectionId" value=collection_id)
  


  
  
  div(class="section-structure row")
    div(class="section-fieldsets col-md-5")
      
      h3 
        button(type="button" id="btnAddFieldset" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#fieldsetModal")
        span Grupos de campos
      div(class="fieldset-list")
        span Lista de fieldsets


    div(class="section-fields col-md-7")
      h3
        button(type="button" id="btnAddField" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#fieldModal" disabled)
        span Campos
      div(class="field-list")
        span Lista de campos



  div(class="modal fade" id="fieldsetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="fieldsetModalLabel") Nuevo grupo
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;

        form(id="form-fieldset")
          div(class="modal-body")
            div(class="form-group col-md-12")
              label(for="legendInput") Legend
              input(
                type="text"
                id="legendInput"
                class="form-control"
                name="legend"
                value=""
                onchange="onChangeFieldsetData(this.name, this.value)")

            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Calcelar
              button(type="submit" class="btn btn-primary btnSaveFieldset") Guardar



  div(class="modal fade" id="fieldModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-lg")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="fieldsetModalLabel") Nuevo campo
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;

        form(id="form-field")
          div(class="modal-body")
            div(class="row")
              div(class="form-group col-md-6")
                label(for="label-input") Label
                input(
                  type="text"
                  class="form-control"
                  name="label"
                  value=""
                  onchange="onChangeFieldData(this.name, this.value)")

              div(class="form-group col-md-6")
                label(for="name-input") Nombre
                input(
                  type="text"
                  class="form-control"
                  name="name"
                  value=""
                  onchange="onChangeFieldData(this.name, this.value)")

              div(class="form-group col-md-6")
                div(class="custom-control custom-checkbox")
                  input(
                    id="required-input"
                    type="checkbox"
                    class="form-control"
                    name="required"
                    value=""
                    onchange="onChangeFieldData(this.name, this.checked)")
                  label(for="required-input") Requerido

              div(class="form-group col-md-6")
                label(for="type-input") Tipo
                select(
                  class="form-control"
                  name="type"
                  onchange="onChangeFieldData(this.name, this.value)")
                  option() Seleccionar
                  option(value="text") Text
                  option(value="password") Password

              div(class="form-group col-md-6")
                label(for="classNameFullCon-input") Clases del contenedor
                input(
                  type="text"
                  class="form-control"
                  name="classNameFullCon"
                  value=""
                  onchange="onChangeFieldData(this.name, this.value)")

              div(class="form-group col-md-6")
                div(class="custom-control custom-checkbox")
                  input(
                    id="projection-input"
                    type="checkbox"
                    class="form-control"
                    name="projection"
                    onchange="onChangeFieldData(this.name, this.checked)")
                  label(for="projection-input") Aparecer en el listado

            div(class="modal-footer")
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Calcelar
              button(type="submit" class="btn btn-primary btnSaveField") Guardar

  

block js-container 
  script(src="/assets/js/crud.js") 