extends ../../layouts/adminLayout.pug
block body-container

  div
    a(href=urlBtnCreate class="btn btn-success") Crear registro

  if listObjects.length
    table(class="table table-striped")
      thead
        th Título
        th URL
        th Colección
        th Acciones
      tbody
        each row in listObjects
          tr
            td #{row.title}
            td #{row.path_name}
            td #{row.collection_name}
            td(class="col-acciones")
              a(href=urlBase+"update/"+row._id class="btn btn-secondary") Modificar
              a(href=urlBase+"delete/"+row._id class="btn btn-danger") Eliminar
              a(href=urlBase+"conf-api/"+row._id class="btn btn-warning") API
  else
    div No hay registros