extends ../layout

block content
  h2= collection.title

  button(class="btn btn-primary float-end" id="btnAddField")
    span(class="fa fa-plus")
    span  Add New

  form(method="post" action=fieldsPath)

    table(class="table" id="fieldsTable")
      thead
        tr
          th Name
          th Label
          th Type
          th Default Value
          th Projection
          th Advanced
          th Actions
      tbody(id="rowFieldsSortable")
        each field in collection.form.fields
          tr
            td
              input(type="text" name="field[name][]" class="fieldNameRow" value=field.name required)

              div(class="otherElements" style="display:none")
                input(type="text" name=`field[cols][]` value=`${value=field.cols}`)
                input(type="text" name=`others[${field.name}][rules][required]` value=`${field.others.rules.required}`)
                input(type="text" name=`others[${field.name}][config][database_type]` value=`${field.others.config.database_type}`)
                input(type="text" name=`others[${field.name}][options][type]` value=`${field.others.options.type}`)
                input(type="text" name=`others[${field.name}][options][values]` value=`${field.others.options.values}`)
                input(type="text" name=`others[${field.name}][options][collection_name]` value=`${field.others.options.collection_name}`)

            td
              input(type="text" name="field[label][]" value=field.label required)
            td
              select(name="field[type][]" required)
                option(value="") Select an option
                option(value="Email" selected=field.type=="Email") Email
                option(value="Number" selected=field.type=="Number") Number
                option(value="Password" selected=field.type=="Password") Password
                option(value="Select" selected=field.type=="Select") Select
                option(value="Text" selected=field.type=="Text") Text
            td
              input(type="text" name="field[default_value][]" value=field.default_value placeholder="Default value")
            td
              input(type="checkbox" name="field[projection][]" checked=field.projection==true class="projectionCheckboxRow" value=field.name)
            td
              button(type="button" class="btn btn-primary buttonAdvancedModal" data-bs-toggle="modal" data-bs-target="#advancedModal") Advanced
            td
              span(class="btn btn-danger fa fa-trash fa-2x btn-removeField" title="Delete")


    div(class="text-end")
      a(href=getRoute(basePath, "index") class="btn btn-danger me-2") Cancel
      button(type="submit" class="btn btn-primary") Save

  include modal.pug

block scriptsJs
  script(src="/libs/jquery-ui-1.13.0.custom/jquery-ui.min.js") 
  script(src="/javascripts/fieldsConfig.js") 

block stylesheetsCss
  link(rel="stylesheet" href="/libs/jquery-ui-1.13.0.custom/jquery-ui.min.css")